.container{
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.addContainer{
    border-radius: 10px;
    margin-bottom: 15px;
}
#btnInsert{
    margin-top: 5px;
}
.outContainer{
    border-radius: 10px;
    
}